
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= @title %> - Ghoul v<%= Ghoul::VERSION %></title>
    <%= stylesheet_link_tag :app, :coderay, :buttons, :'github-buttons' %>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <a href="<%= url("/") %>" id="logo">Ghoul v<%= Ghoul::VERSION %></a>
        <% if repos_path_exists? %>
        <ul>
          <li><%= link_to "Repositories", repositories_path %></li>
          <li><a href="<%= url("/new_repo") %>" class="thoughtbot_button">New Repo</a></li>
        </ul>
        <% end %>
      </div>
      <div id="page">
        <%= yield %>
      </div>
      <%= partial(:footer) %>
    </div>
  </body>
</html>
