<%= partial :repo_top_bar %>

<div id="repo_info">
  <div id="git_url"><%= repository_git_url(@repository) %></div>
  <div id="clippy"><%= clippy(repository_git_url(@repository), '#f1f1f1') %></div>
</div>

<div id="commits">
  <div class="commit"><%= partial(:commit, :commit => @newest_commit) %></div>
  <% if @commit.id != @newest_commit.id %>
    <div class="indent commit">
      <%= partial(:commit, :commit => @commit) %>
    </div>
  <% end %>
</div>

<%= partial(:breadcrumbs) unless @hide_breadcrumbs %>
